.container {
    
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
  }
  
  .text-container {
    flex: 1;
    margin-top: 10%;
  }
  
  .image {
    margin-top: 10%;
    max-width: 20%;
    margin-left: 0px;
    margin-right: 60px;
    border-radius: 8px;
  }
  
  .title {
    font-size: 53px;
    color: #c87a12;
    margin-left: 5%;
    
  }

  .hrCompany {
    border: none;
    border-top: 2px solid #fa9004;
    margin: 20px 0;
    width: 200px;
  }
  
  .paragraph {
    height: 200px;
    width: 800px;
    font-size: 1.2em;
    color: #666;
    line-height: 1.5;
    margin-left: 6%;
    
  }
  
.logoAtencion {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;

}

.info-boxes {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 10%;
  }
  
  .info-box1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 600px;
    width: 300px;
    background-color: #2d2d2d;
    border: 2px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: left;
    
  }

  .info-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 600px;
    width: 300px;
    background-color: #dad6d6;
    border: 2px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: left;
    
  }
  
  .h3Atencion1 {
    text-align: center;
    font-size: 40px;
    color: #fbfbfb;
    margin-bottom: 10px;
  }
  
  .h3Atencion2 {
    text-align: center;
    font-size: 30px;
    color: #333;
    margin-bottom: 10px;
  }
  
  .pAtencion1 {
    font-size: 1.2em;
    color: #fbf9f9;
    line-height: 1.5;
    text-align: center;
  }

  .pAtencion2 {
    font-size: 1.2em;
    color: #757272;
    line-height: 1.5;
    text-align: center;
  }

  .h3Icon {
    margin-top: 50%;
    display: flex;
    font-size: 30px;
    color: #2d2d2d;
    gap: 20px;
    margin-left:9%;
    transition: transform 0.3s ease;
  }
  .h3Icon:hover {
    transform: scale(1.05);
  }

  @media (max-width: 768px)  {
    .container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      
    }

    .title {
      font-size: 25px;
      color: #c87a12;
      text-align: center;
      margin: 0;
    }

    .paragraph {
      height: 200px;
      width: 300px;
      font-size: 0.9em;
      color: #666;
      line-height: 1.5;
      text-align: center;
      margin-bottom: 18%;
    }

    .image {
      display: none;
      
    }
    .hrCompany {
      border: none;
      border-top: 2px solid #fa9004;
      
      width: 70px;
    }

    .info-boxes {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 20px;
      margin-top: 10%;
    }
  }

  @media (max-width: 360px) {

    
    .title {
      width: 310px;
      font-size: 30px;
      color: #c87a12;
      text-align: center;
      margin: 0;
      
    }

    .hrCompany {
      border: none;
      border-top: 2px solid #fa9004;
      
      width: 50px;
    }
    .paragraph {
      margin: 0;
      width: 310px;
      font-size: 0.8em;
      color: #666;
      line-height: 1.5;
      text-align: center;
     
    }

    .info-box1 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      height: 600px;
      width: 310px;
      background-color: #2d2d2d;
      border: 2px solid #ddd;
      border-radius: 8px;
      padding: 20px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
      text-align: left;
      
    }

    .info-box {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      height: 600px;
      width: 310px;
      background-color: #dad6d6;
      border: 2px solid #ddd;
      border-radius: 8px;
      padding: 20px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
      text-align: left;
      
    }
  }